@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
/* reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

:root {
    --primary1: hsl(202, 86%, 94%);
    --primary2: hsl(202, 55%, 16%);
    --primary3: hsl(277, 64%, 61%);
    --neutral1: hsl(61, 70%, 52%);
    --neutral2: hsl(203, 41%, 72%);
    --neutral3: hsl(0, 0%, 100%);
}

body {
    background-color: var(--primary1);
    font-size: 62.5%;
    color: var(--neutral2);
    font-family: 'Lexend Deca', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    display: flex;
    background-color: var(--primary2);
    gap: 2rem;
    border-radius: 0.6rem;
    padding: 2.3rem 2rem;
}

.info {
    width: 400px;
}

h1 {
    font-size: 2rem;
    color: var(--neutral1);
}

.green {
    color: var(--neutral1);
}

p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    color: var(--neutral3);
    opacity: 0.9;
}

.summary {
    margin-top: 10px;
}

.time {
    color: var(--neutral2);
}


h1,
h2 {
    font-family: 'Inter', sans-serif;
}

svg {
    fill: var(--neutral1);
    width: 15px;
}

/* 
h2 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
} */

.socials {
    margin: 20px auto;
    display: flex;
    gap: 1rem;
    width: fit-content;
}

.img {
    transform: rotate(-2deg);
    border: 5px solid var(--neutral1);
    aspect-ratio: 4/3;
    overflow: hidden;
}

img {
    display: block;
    object-fit: cover;
}


@media (max-width: 900px) {

    .card {
        display: flex;
        flex-direction: column-reverse;
        height: 90%;
        width: 90%;
        text-align: center;
        margin: 30px 0;
    }

    .info {
        width: 90%;
        padding: 0;
        margin: auto;
    }

    .img {
        margin: 15px auto;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .socials {
        margin: 10px auto;
        align-items: center;
    }

    .details {
        font-size: 0.7rem;
    }

}

@media (max-width: 450px) {
    .img {
        margin: unset;
    }

    .card {
        padding: 1.5rem;
    }
}